{% extends 'base.html' %}

{% block title %}
<title>Pets</title>
{% endblock %}

{% block content %}

<div class="py-5 text-center">
    <h1>Pets</h1>
</div>

{% include '/elements/flashing.html' %}

<div class="row justify-content-center">
    {% if pets %}
    <div class="col-md-9 d-flex flex-wrap justify-content-center">
        {% for pet in pets %}
        <div class="card m-2" style="width: 20rem;">
            <div class="card-header">
                {% if pet.available %}
                <span class="badge badge-success">Available</span>
                {% else %}
                <span class="badge badge-secondary">Adopted</span>
                {% endif %}
            </div>
            {% if pet.image_url %}
            <img src="{{pet.image_url}}" alt="Picture of {{pet.name}}" class="card-img-top">
            {% else %}
            <img src="https://www.bil-jac.com/Images/DogPlaceholder.svg" alt="Default Pet Picture" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">
                    {{pet.name}}
                </h4>
                <p class="card-text">
                    <a href="/{{pet.id}}" class="stretched-link"><small>See more details...</small></a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="row justify-content-center">
    <a href="/add" class="btn btn-info m-5">Add a Pet</a>
</div>
{% endblock %}